ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.box {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 50px auto;
  position: relative ;
}
.box .line {
  position: absolute;
}
.box .line li {
  width: 1px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  top: 0px;
  left: 200px;
  transform-origin: center 200px;
}
.box .line li:nth-of-type(5n+1) {
  height: 15px;
  background-color: #000;
}
.box .num {
  position: relative;
  height: 400px;
  width: 400px;
}
.box .num li {
  position: absolute;
  height: 30px;
  width: 30px;
  transform-origin: center 185px;
  top: 15px;
  left: 185px;
}
.box .num li span {
  font: 30px/30px "宋体";
  width: 30px;
  color: #000;
  position: absolute;
  text-align: center;
  display: inline-block;
}
.box .center {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f00;
  position: absolute;
  top: 190px;
  left: 195px;
  z-index: 4;
}
.box .hour {
  width: 10px;
  height: 120px;
  background-color: #000;
  position: absolute;
  top: 80px;
  left: 195px;
  z-index: 1;
  transform: rotate(0);
  transform-origin: bottom;
}
.box .min {
  width: 10px;
  height: 150px;
  background-color: #ccc;
  position: absolute;
  top: 50px;
  left: 195px;
  z-index: 2;
  transform: rotate(0);
  transform-origin: bottom;
}
.box .s {
  width: 10px;
  height: 150px;
  background-color: #333;
  position: absolute;
  top: 50px;
  left: 195px;
  z-index: 3;
  transform: rotate(0);
  transform-origin: bottom;
}
